@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0; 
}

body{
  background: #dfdfe0;

}

#home-container{
    display: grid;
    grid-template-rows: 1em auto;
    /*grid-template-columns:19.3% 50% 8%;*/
    grid-template-columns: 2fr 1fr 200px 1fr 1fr;
    grid-template-areas: "header header header header"
    "home home home home"
    ". main sidebar ."
    "footer footer footer footer";
    grid-column-gap: 1em;
}
#main   {
    grid-area: main;
    background: rgb(203, 186, 240);
    padding: 20px;
}
#sidebar{
    grid-area:sidebar;
    background: rgb(203, 186, 240);
    font-size: .8em;
    text-align: center;

}
header {

    grid-area: header;
    background: #5F4B8B  center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title{
font-size: 3em;

text-shadow: 2px 2px 3px #1b1b1b;

color:  #f2f2f2;
}